<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form id="loginForm">
        <input type="email" id="loginEmail" placeholder="Enter your email" required>
        <input type="password" id="loginPassword" placeholder="Enter your password" required>
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <p>Don't have an account? <a href="{{ url_for('register_page') }}">Sign up here</a></p>

      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
